.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #f9c5c7;
}

.loginWrapper{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    padding: 20px;
}