.coursesWrapper{
    display: flex;
    flex-direction: column;
    border: 2px solid #b6daef;
    padding: 20px;
    gap: 20px;
}

.searchBarWrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}